<li id="post-<%=post._id%>">
    <p>
        <% if(locals.user && locals.user.id==post.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%=post.id %>">x</a>
            </small>
            <% } %>
                <%= post.content %>
                    <br>
                    <small style="color: rgb(68, 247, 13); ">
                        <%= post.user.name %>
                    </small>
    </p>
    <div class="post-comment">
        <% if(locals.user){ %>
            <form action="/comment/create" method="post" id="new-comment-form">
                <input type="text" name="content" placeholder="type here to add comment">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="add comment">
            </form>
            <%} %>
                <!-- for comment -->
                <div class="post-comment-list" style="margin-left: 30px;">
                    <ul id="post-comment">
                        <% for(comment of post.comments){ %>
                            <%- include('_comment') %>

                                <%} %>
                    </ul>
                </div>
    </div>


</li>

